@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #3566b0;
  --color-primary-hover: #2f5a9c;
  --color-primary-active: #294f88;
  --color-primary-soft: #5c84c4;
  --color-primary-tint: #8fa8d9;
  --color-primary-ultralight: #e8eefa;

  --color-background: #0e0e0e;
  --color-surface: #151515;
  --color-elevated: #1c1c1c;
  --color-border: #2a2a2a;
  --color-soft-border: #333333;

  --color-text-primary: #fafbfc;
  --color-text-secondary: #d6d7da;
  --color-text-muted: #a9abb1;
  --color-text-disabled: #6f6f6f;

  --color-accent: #f5c26b;
  --color-accent-hover: #eab354;
  --color-accent-soft: #fff1d6;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* @apply tracking-tight; */

  scrollbar-width: thin;
  -webkit-scrollbar-width: thin;
  -moz-scrollbar-width: thin;
  -ms-scrollbar-width: thin;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.navbar-item {
  @apply before:content-[""] before:absolute before:-bottom-2 before:left-[50%] before:translate-x-[-50%] before:w-[125%]
          before:h-[3px] before:bg-primary before:scale-x-0 hover:before:scale-x-100 before:rounded-full
          before:transition-transform before:origin-left relative hover:text-primary-tint cursor-pointer
          before:duration-300 before:ease-in-out;
}
.navbar-item-mobile {
  @apply p-[20px] w-full;
}

.swiper-wrapper {
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1) !important;
}

input::placeholder,
textarea::placeholder {
  @apply text-text-disabled;
}

/* Default dot */
.swiper .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background: var(--color-text-disabled);
  opacity: 1;
  /* transition: all 0.3s ease; */
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  margin: 0 3px !important;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.5);
  border: 0 solid var(--color-text-disabled);
}

/* Active dot */
.swiper .swiper-pagination-bullet-active {
  width: 18px;
  border-radius: 999px;
  background: var(--color-primary);
  border: 1px solid var(--color-text-disabled);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(43%);
  cursor: pointer;
}
